<div class="container">
  <h1>Cocktails:</h1>
  <ul class="list-inline">
    <% @cocktails.each do |cocktail|%>
      <li>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
        <%= link_to 'ðŸ—‘ï¸', cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
  <%= cl_image_tag("og2cgz6tsjobc8tzjynz",
      width: 400, height: 300, crop: :fill) %>

  <%= cl_image_tag("nszvfj0e8no0bvtugb91",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
  <br>
  <br>
  <%= link_to 'Create a new cocktail', new_cocktail_path, class: 'btn btn-success'%>
</div>








<!-- #create a cocktail
#on save you get an id
#this id is assigned to a created instance of dose (which has 2 properties - dose.description && dose.ingredient.name)
#they are accessible to a cocktail through dose

cocktail.name
cocktail.doses.each
dose.ingredient.name
dose.description -->
