<div class="container">
  <h1>Show</h1>
  <h2>Name: <%= @cocktail.name %></h2>
  <% @cocktail.doses.each do |dose|%>
    <p>Ingredients: <%= dose.ingredient.name %></p>
    <p>Amount: <%= dose.description %></p>
    <%= link_to 'Delete' , cocktail_dose_path(@cocktail, dose),
            method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-info' %>
  <% end %>
  <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
  <%= link_to 'Back to list', cocktails_path, class: 'btn btn-primary' %>
</div>



<!-- cocktail.name
cocktail.doses.each
dose.ingredient.name
dose.description -->
